Source/.vs/*
Source/packages/*

Binary/Debug/*
Binary/Release/*
Source/Gui.Wpf/obj/*
Source/Visualizer.Wpf/obj/*
Source/Drawing.Wpf/obj/*
Source/Utility/obj/*
Source/Music/obj/*
Source/Bootstrapper/obj/*
Source/Resources/obj/*
